version: '3.8'

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:18
    volumes:
      - ..:/workspace:cached
    
    command: sleep infinity
    
    depends_on:
      - db

  db:
    image: mariadb:latest
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: kwebstudy
      MYSQL_DATABASE: kweb_db
      MYSQL_USER: kweb
      MYSQL_PASSWORD: 1q2w3e4r 
    volumes:
      - mariadb-data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  mariadb-data: